/* body packagr */
body {

  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  background-attachment: fixed;
  background-image: url("giverbg.jpg");
  background-size: cover;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;

}
.nav-brand {
  font-size: 20px;
  font-weight: 5px;
  font-family: 'Girassol', cursive;
  color: ;
}

.nav-link {
  margin: 0 20px;
  font-family: 'Inconsolata', monospace;
}

footer{
  margin-top: 100px;
  text-align: center;
  padding: 0 -5% 20px -5%;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

/* container */

.container1{
  background-color: rgba(50,50,200,0.5);
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.container2{
  background-color: rgba(17, 114, 119, 0.3);
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 8px;
}

.container-head{
  font-size:20px ;
  font-family:'Roboto Condensed', sans-serif ;
  font-weight: bolder;
  padding-bottom: 20px;
}

.a-head{
  color: black;
  text-decoration: none;
}

.a-head:hover{
  color: black;
  text-decoration: none;
}

.a-content{
  color:black;
  text-decoration:none;
}

.a-content:hover{
  color: black;
  text-decoration: none;
}


.container-content{
  font-size: 16px ;
  font-family:'Oxygen Mono', monospace;
  color: black ;
  font-weight:normal ;
  padding-bottom: 10px;
}

.row11, .row12{
  padding: 10px 10px;
}

#row121{
margin: 0 -31px;
}

.add:hover{
  transform: rotate(45deg);
}

.add-content{
font-size: 17px;
font-weight: 400;
}

.add{
  margin-left: -5px;
  margin-right: 10px;
}

.edit{
  padding: 10px;
  border-radius:50%;
  background-color: rgba(0,0,0,0.5);

}



/* profile section */

.profile-content{
  letter-spacing: 1px;
  font-family:'Oxygen Mono', monospace;
  color:black ;
  font-weight: bold ;
  margin:18px -15px;
  padding-left: 10px
}




.profile-img1{
  object-fit: cover;
  object-position: center;
}

.profile-img1:hover{
  opacity: 0.8;
}

.imgpro{
    border-radius: 8px;
}

.number{
  letter-spacing: 2px;
  font-size: 20px;
}

hr{
  width: 20%;
  border-style: dashed;
  border-color: #03A9A1;
  border-width: 3px 0 0 0;
}
